/* Animação de Estrelas (REMOVER ESTE BLOCO INTEIRO) */
.bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
#stars, #stars2, #stars3 {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    background:transparent url('https://www.script-tutorials.com/demos/360/images/stars.png' ) repeat top center;
    z-index:0;
}
#stars2 {
    background-image:url('https://www.script-tutorials.com/demos/360/images/twinkling.png' );
    animation:move-twink-back 200s linear infinite;
}
#stars3 {
    background-image:url('https://www.script-tutorials.com/demos/360/images/clouds.png' );
    animation:move-twink-back 100s linear infinite;
}
